<header>
  <div class="container header-inner">
    <a href="index.html" class="logo">
      <img src="images/65baa6f9956a349e3ac222c5_c1b53a092e17.png" alt="A State of Mind Counseling">
      <span class="logo-text">A State of Mind Counseling</span>
    </a>
    <button class="nav-toggle" aria-label="Toggle navigation">&#9776;</button>
    <nav>
      <ul>
        <li class="has-dropdown">
          <a href="about.html">About</a>
          <ul class="dropdown">
            <li><a href="about.html">About Julian</a></li>
            <li><a href="credentials.html">Credentials</a></li>
            <li><a href="faqs.html">FAQs</a></li>
          </ul>
        </li>
        <li><a href="psychedelic-therapy.html">Psychedelic Therapy</a></li>
        <li class="has-dropdown">
          <a href="index.html#specialties">Specialties</a>
          <ul class="dropdown">
            <li><a href="trauma.html">Trauma</a></li>
            <li><a href="relationships.html">Relationships</a></li>
            <li><a href="life-transitions.html">Life Transitions</a></li>
          </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="https://calendly.com/astateofmind" class="btn" target="_blank">Book Consultation</a></li>
      </ul>
    </nav>
  </div>
</header>
